[LOGGING]
    slack_webhook = {{logging.slack_webhook}}
[FORECAST]
    rh_username = {{forecast.rh_username}}
    rh_password = {{forecast.rh_password}}
    mysql_username = {{forecast.mysql_username}}
    mysql_password = {{forecast.mysql_password}}
    mysql_server = {{forecast.mysql_server}}
